@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
html,
body {
  font-size: 15pt;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: inherit;
  font-size: 20pt;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-size: 20pt;
}

label {
  padding-left: 10px;
  font-size: 20pt;
}
